### 一、直接创建DataFrame

#### 创建DataFrame

In [4]:
?pd.DataFrame

注意：data这里需要有两个中括号[ ]。

In [11]:
import pandas as pd
df = pd.DataFrame([['张三','男',20200203]],columns=['name','gender','birthday'])
df

  name gender  birthday
0   张三      男  20200203

#### 逐个输出字段元素

In [6]:
import pandas as pd
df = pd.DataFrame([['张三','男',20200203],['李四','男',20200301]],columns=['name','gender','birthday'])
df

  name gender  birthday
0   张三      男  20200203
1   李四      男  20200301

In [7]:
for i in df['name']:
    print(i)

张三
李四

#### 输出DataFrame行数

In [8]:
len(df)

2

In [9]:
for i in range(len(df)):
    print(i)

0
1

#### 输出字段的第一个值

In [ ]:
df['name'][0]

### 二、根据列表创建DataFrame

In [1]:
import pandas as pd

可以一次创建多个字段，但原来的数据会被覆盖。

In [11]:
import datetime
arr = ['BLUE成立于2015年，创始团队来自华为和国内一线互联网公司。BLUE在中国深圳、泰国曼谷和印尼雅加达设有办公室和研发中心，以场景为中心，从线上发展到线下，构建了箭速迭代的线上产品运营和渗透城市毛细血管的线下拓展两大核心能力，既把中国互联网最新的产品技术模式带到东南亚，又能基于东南亚市场进行深度本地化的创新，并不断通过线上和线下的协同，在人、货、场三个方面打通数据赋能，持续提升经营效率，打造独特的平台竞争力。', datetime.datetime(2016, 12, 5, 0, 0), '100万美元']
df = pd.DataFrame([['a','b','c']],columns=['companyProfile','setupDate','registerCapital'])
dblist = []
dblist.append(arr)
dblist.append(arr)
dblist.append(arr)
print(dblist)
dbdf = pd.DataFrame(dblist)
dbdf
#for i in dblist:
#    df['companyProfile'],df['setupDate'],df['registerCapital'] = i 
#df

[['BLUE成立于2015年，创始团队来自华为和国内一线互联网公司。BLUE在中国深圳、泰国曼谷和印尼雅加达设有办公室和研发中心，以场景为中心，从线上发展到线下，构建了箭速迭代的线上产品运营和渗透城市毛细血管的线下拓展两大核心能力，既把中国互联网最新的产品技术模式带到东南亚，又能基于东南亚市场进行深度本地化的创新，并不断通过线上和线下的协同，在人、货、场三个方面打通数据赋能，持续提升经营效率，打造独特的平台竞争力。', datetime.datetime(2016, 12, 5, 0, 0), '100万美元'], ['BLUE成立于2015年，创始团队来自华为和国内一线互联网公司。BLUE在中国深圳、泰国曼谷和印尼雅加达设有办公室和研发中心，以场景为中心，从线上发展到线下，构建了箭速迭代的线上产品运营和渗透城市毛细血管的线下拓展两大核心能力，既把中国互联网最新的产品技术模式带到东南亚，又能基于东南亚市场进行深度本地化的创新，并不断通过线上和线下的协同，在人、货、场三个方面打通数据赋能，持续提升经营效率，打造独特的平台竞争力。', datetime.datetime(2016, 12, 5, 0, 0), '100万美元'], ['BLUE成立于2015年，创始团队来自华为和国内一线互联网公司。BLUE在中国深圳、泰国曼谷和印尼雅加达设有办公室和研发中心，以场景为中心，从线上发展到线下，构建了箭速迭代的线上产品运营和渗透城市毛细血管的线下拓展两大核心能力，既把中国互联网最新的产品技术模式带到东南亚，又能基于东南亚市场进行深度本地化的创新，并不断通过线上和线下的协同，在人、货、场三个方面打通数据赋能，持续提升经营效率，打造独特的平台竞争力。', datetime.datetime(2016, 12, 5, 0, 0), '100万美元']]

                                                   0          1       2
0  BLUE成立于2015年，创始团队来自华为和国内一线互联网公司。BLUE在中国深圳、泰国曼谷... 2016-12-05  100万美元
1  BLUE成立于2015年，创始团队来自华为和国内一线互联网公司。BLUE在中国深圳、泰国曼谷... 2016-12-05  100万美元
2  BLUE成立于2015年，创始团队来自华为和国内一线互联网公司。BLUE在中国深圳、泰国曼谷... 2016-12-05  100万美元