In [1]:
import pandas as pd

df = pd.DataFrame([['张三','男',20],
                  ['李四','男',18]],columns=['name','gender','age'])
df

  name gender  age
0   张三      男   20
1   李四      男   18

#### 直接赋值

In [2]:
df_2 = df
df_2

  name gender  age
0   张三      男   20
1   李四      男   18

 - 可以直接赋值。

尝试修改df_2：

In [3]:
df_2['hobbit'] = '运动'
df_2

  name gender  age hobbit
0   张三      男   20     运动
1   李四      男   18     运动

 - 给df_2增加了一个字段。

In [4]:
df

  name gender  age hobbit
0   张三      男   20     运动
1   李四      男   18     运动

##### - 此时，df也同时增加了一个hobbit字段，说明直接赋值只是共享内存。

#### 整体修改再赋值：修改成功的情况

In [5]:
import pandas as pd

df = pd.DataFrame([['张三','男',20],
                  ['李四','男',18]],columns=['name','gender','age'])
df

  name gender  age
0   张三      男   20
1   李四      男   18

In [6]:
df_2 = df.applymap(lambda x: '女' if x == '男' else x)
df_2

  name gender  age
0   张三      女   20
1   李四      女   18

 - 把性别男改为女。

In [7]:
df

  name gender  age
0   张三      男   20
1   李四      男   18

##### - 此时，原来的df性别还是男，说明运算之后再赋值，并没有直接共享内存。

#### 整体修改再赋值：未成功修改的情况

In [8]:
import pandas as pd

df = pd.DataFrame([['张三','男',20],
                  ['李四','男',18]],columns=['name','gender','age'])
df

  name gender  age
0   张三      男   20
1   李四      男   18

In [9]:
df_2 = df.applymap(lambda x: '男' if x == '女' else x)
df_2

  name gender  age
0   张三      男   20
1   李四      男   18

 - 把性别为女改成男，但原df中并没有女。

In [10]:
df

  name gender  age
0   张三      男   20
1   李四      男   18

 - 此时df本身也没有改变。

In [11]:
df_2['hobbit'] = '运动'
df_2

  name gender  age hobbit
0   张三      男   20     运动
1   李四      男   18     运动

 - 这时候，再对df_2进行修改，看原df是否有改变。

In [13]:
df

  name gender  age
0   张三      男   20
1   李四      男   18

##### - 发现此时的df并没有改变，说明只要进行运算，就不再共享内存，无论值是否发生变化。