#### 整型转字符型

In [3]:
import pandas as pd

data = {'玩具':['车','飞机','轮船'], '数量':[3,2,5], '价格':[100,90,80]} 
df = pd.DataFrame(data)
df

   玩具  数量   价格
0   车   3  100
1  飞机   2   90
2  轮船   5   80

In [4]:
df.dtypes

玩具    object
数量     int64
价格     int64
dtype: object

In [7]:
df['数量'] = df['数量'].apply(str)
df.dtypes

玩具    object
数量    object
价格     int64
dtype: object