### 目录

#### 一、转换成日期格式

#### 二、日期间隔计算

#### 三、日期加减

#### 四、输出日期字符串

#### 五、日期筛选数据

#### 六、日期显示数据

#### 七、日期统计数据

#### 八、按日期统计并显示

#### 九、提取指定类型日期

学习链接：

Pandas日期数据处理：如何按日期筛选、显示及统计数据：https://www.jianshu.com/p/b91e3ae940ec

In [53]:
import pandas as pd
df = pd.DataFrame([['张三','男',20200203]],columns=['name','gender','birthday'])
df

  name gender  birthday
0   张三      男  20200203

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 3 columns):
name        1 non-null object
gender      1 non-null object
birthday    1 non-null int64
dtypes: int64(1), object(2)
memory usage: 152.0+ bytes

### 一、转换成日期格式

#### 方式一：to_datetime

In [57]:
df['birthday'] = pd.to_datetime(df['birthday'])

In [55]:
df.dtypes

name                object
gender              object
birthday    datetime64[ns]
dtype: object

#### 方式二：lambda

In [4]:
from datetime import datetime
df['birthday'] = df['birthday'].map(lambda x: datetime.strptime(str(x),'%Y%m%d'))

In [5]:
df

  name gender   birthday
0   张三      男 2020-02-03

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 3 columns):
name        1 non-null object
gender      1 non-null object
birthday    1 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 152.0+ bytes

### 二、日期间隔计算

获取当前日期

In [7]:
from datetime import date
date.today()

datetime.date(2020, 3, 10)

获取当前时间

In [8]:
datetime.now()

datetime.datetime(2020, 3, 10, 21, 1, 58, 926262)

In [9]:
df['dif'] = df['birthday'].map(lambda x: (datetime.now()-x).days)
df

  name gender   birthday  dif
0   张三      男 2020-02-03   36

### 三、日期加减

日期加7天

In [50]:
import datetime
df['oneWeekAfter'] = df['birthday'].map(lambda x: x+datetime.timedelta(days=7))
df

  name gender   birthday  dif oneWeekAfter
0   张三      男 2020-02-03   35   2020-02-10

日期减7天

In [51]:
import datetime
df['oneWeekBefore'] = df['birthday'].map(lambda x: x-datetime.timedelta(days=7))
df

  name gender   birthday  dif oneWeekAfter oneWeekBefore
0   张三      男 2020-02-03   35   2020-02-10    2020-01-27

### 四、输出日期字符串

In [58]:
import time
from datetime import datetime

print(datetime.now().strftime('%Y-%m-%d %H:%M:%S'))
print(time.strftime('%Y-%m-%d %H:%M:%S'))
print(time.strftime("%Y{}%m{}%d{} %H{}%M{}%S{}",time.localtime()).format('年','月','日','时','分','秒'))
print(datetime.now().strftime("%Y{}%m{}%d{} %H{}%M{}%S{}").format('年','月','日','时','分','秒'))

2020-03-10 23:03:51
2020-03-10 23:03:51
2020年03月10日 23时03分51秒
2020年03月10日 23时03分51秒

In [74]:
start_time = datetime.now()

In [85]:
import datetime
#from datetime import datetime
end_time = datetime.datetime.now()+datetime.timedelta(days=2)

In [86]:
total_time = end_time - start_time
print(total_time)

2 days, 0:05:31.283373

值得注意的是：如果直接把中文放进去会报错，但通过format函数则不会。

time.strftime:格式化字符串中含中文报错处理：https://www.cnblogs.com/raffia/p/10337348.html

### 五、日期筛选数据

In [60]:
import pandas as pd

df = pd.read_csv(r'D:\Jupyter\Data\prewarning.csv',encoding='utf-8')
df

,callDate,historyCall,predictCall,realCall,failCall,handleRate,prepareTotal,prepareSchedule,prepareUrgent,prepareCallback,prepareNew,realTotal,realSchedule,realUrgent,realCallback,realNew
0,2018/5/22,21241,21435,23261,1149,0.950604,218,175,29,9,5,206,168,27,7,4
1,2018/5/23,21320,20856,20939,267,0.987249,220,172,28,15,5,203,167,17,15,4
2,2018/5/24,20221,21313,21378,779,0.963561,205,164,27,6,8,194,160,20,6,8
3,2018/5/25,20634,19985,22047,786,0.964349,208,166,28,5,9,197,160,24,5,8
4,2018/5/26,17020,18134,23216,7776,0.665059,166,147,12,3,4,162,147,8,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,2019/2/14,28422,29262,28422,563,0.980191,252,231,5,0,16,250,229,5,0,16
269,2019/2/15,28831,29650,28831,1208,0.958101,236,218,5,0,13,231,213,5,0,13
270,2019/2/16,24927,25735,24927,523,0.979019,223,199,2,13,9,221,197,2,13,9
271,2019/2/17,22421,23296,22421,277,0.987646,207,174,1,18,14,202,172,1,16,13
272,2019/2/18,29162,30597,29162,2030,0.930389,231,209,5,0,17,224,203,5,0,16

In [44]:
df.dtypes

callDate            object
historyCall          int64
predictCall          int64
realCall             int64
failCall             int64
handleRate         float64
prepareTotal         int64
prepareSchedule      int64
prepareUrgent        int64
prepareCallback      int64
prepareNew           int64
realTotal            int64
realSchedule         int64
realUrgent           int64
realCallback         int64
realNew              int64
dtype: object

#### 【重要】将数据类型转换为日期类型

In [61]:
df['callDate'] = pd.to_datetime(df['callDate'])

#### 【重要】需要将日期字段设置成index

In [62]:
df = df.set_index('callDate')
df

,historyCall,predictCall,realCall,failCall,handleRate,prepareTotal,prepareSchedule,prepareUrgent,prepareCallback,prepareNew,realTotal,realSchedule,realUrgent,realCallback,realNew
callDate,,,,,,,,,,,,,,,
2018-05-22,21241,21435,23261,1149,0.950604,218,175,29,9,5,206,168,27,7,4
2018-05-23,21320,20856,20939,267,0.987249,220,172,28,15,5,203,167,17,15,4
2018-05-24,20221,21313,21378,779,0.963561,205,164,27,6,8,194,160,20,6,8
2018-05-25,20634,19985,22047,786,0.964349,208,166,28,5,9,197,160,24,5,8
2018-05-26,17020,18134,23216,7776,0.665059,166,147,12,3,4,162,147,8,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-02-14,28422,29262,28422,563,0.980191,252,231,5,0,16,250,229,5,0,16
2019-02-15,28831,29650,28831,1208,0.958101,236,218,5,0,13,231,213,5,0,13
2019-02-16,24927,25735,24927,523,0.979019,223,199,2,13,9,221,197,2,13,9
2019-02-17,22421,23296,22421,277,0.987646,207,174,1,18,14,202,172,1,16,13
2019-02-18,29162,30597,29162,2030,0.930389,231,209,5,0,17,224,203,5,0,16

#### 按年度筛选：筛选1年

In [48]:
df['2018']

,historyCall,predictCall,realCall,failCall,handleRate,prepareTotal,prepareSchedule,prepareUrgent,prepareCallback,prepareNew,realTotal,realSchedule,realUrgent,realCallback,realNew
callDate,,,,,,,,,,,,,,,
2018-05-22,21241,21435,23261,1149,0.950604,218,175,29,9,5,206,168,27,7,4
2018-05-23,21320,20856,20939,267,0.987249,220,172,28,15,5,203,167,17,15,4
2018-05-24,20221,21313,21378,779,0.963561,205,164,27,6,8,194,160,20,6,8
2018-05-25,20634,19985,22047,786,0.964349,208,166,28,5,9,197,160,24,5,8
2018-05-26,17020,18134,23216,7776,0.665059,166,147,12,3,4,162,147,8,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-27,23262,23554,24825,561,0.977402,230,200,1,0,29,229,199,1,0,29
2018-12-28,23650,23943,24902,247,0.990081,237,207,1,0,29,235,206,1,0,28
2018-12-29,20735,21032,26054,682,0.973824,259,229,1,0,29,257,228,1,0,28
2018-12-30,18296,18569,23430,1288,0.945028,185,178,1,0,6,183,176,1,0,6
2018-12-31,26429,27161,18835,93,0.995062,169,159,1,0,9,168,159,1,0,8

#### 按年度筛选：筛选跨年

In [51]:
df['2018':'2019']

,historyCall,predictCall,realCall,failCall,handleRate,prepareTotal,prepareSchedule,prepareUrgent,prepareCallback,prepareNew,realTotal,realSchedule,realUrgent,realCallback,realNew
callDate,,,,,,,,,,,,,,,
2018-05-22,21241,21435,23261,1149,0.950604,218,175,29,9,5,206,168,27,7,4
2018-05-23,21320,20856,20939,267,0.987249,220,172,28,15,5,203,167,17,15,4
2018-05-24,20221,21313,21378,779,0.963561,205,164,27,6,8,194,160,20,6,8
2018-05-25,20634,19985,22047,786,0.964349,208,166,28,5,9,197,160,24,5,8
2018-05-26,17020,18134,23216,7776,0.665059,166,147,12,3,4,162,147,8,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-02-14,28422,29262,28422,563,0.980191,252,231,5,0,16,250,229,5,0,16
2019-02-15,28831,29650,28831,1208,0.958101,236,218,5,0,13,231,213,5,0,13
2019-02-16,24927,25735,24927,523,0.979019,223,199,2,13,9,221,197,2,13,9
2019-02-17,22421,23296,22421,277,0.987646,207,174,1,18,14,202,172,1,16,13
2019-02-18,29162,30597,29162,2030,0.930389,231,209,5,0,17,224,203,5,0,16

#### 按月度筛选：筛选一个月

In [49]:
df['2018-5']

,historyCall,predictCall,realCall,failCall,handleRate,prepareTotal,prepareSchedule,prepareUrgent,prepareCallback,prepareNew,realTotal,realSchedule,realUrgent,realCallback,realNew
callDate,,,,,,,,,,,,,,,
2018-05-22,21241,21435,23261,1149,0.950604,218,175,29,9,5,206,168,27,7,4
2018-05-23,21320,20856,20939,267,0.987249,220,172,28,15,5,203,167,17,15,4
2018-05-24,20221,21313,21378,779,0.963561,205,164,27,6,8,194,160,20,6,8
2018-05-25,20634,19985,22047,786,0.964349,208,166,28,5,9,197,160,24,5,8
2018-05-26,17020,18134,23216,7776,0.665059,166,147,12,3,4,162,147,8,3,4
2018-05-27,17283,15848,16334,253,0.984511,169,147,13,5,4,160,141,11,4,4
2018-05-28,21950,22472,21192,133,0.993724,218,175,33,3,7,206,168,29,3,6
2018-05-29,23274,23261,21435,267,0.987544,231,175,32,2,22,214,170,31,2,11
2018-05-30,21320,20939,20856,300,0.985616,225,170,32,2,21,218,167,28,2,21
2018-05-31,21388,21378,21313,705,0.966922,230,167,32,5,26,223,164,29,4,26

#### 按月度筛选：筛选多个月

In [52]:
df['2018-10':'2018-12']

,historyCall,predictCall,realCall,failCall,handleRate,prepareTotal,prepareSchedule,prepareUrgent,prepareCallback,prepareNew,realTotal,realSchedule,realUrgent,realCallback,realNew
callDate,,,,,,,,,,,,,,,
2018-10-01,18833,19952,16471,62,0.996236,190,186,0,0,4,186,182,0,0,4
2018-10-02,18833,17671,15219,64,0.995795,178,178,0,0,0,175,175,0,0,0
2018-10-03,18833,16743,16097,77,0.995217,169,167,0,0,2,166,164,0,0,2
2018-10-04,16288,19618,17407,74,0.995749,187,185,0,0,2,180,179,0,0,1
2018-10-05,16288,20595,17975,36,0.997997,209,199,1,0,9,198,188,1,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-27,23262,23554,24825,561,0.977402,230,200,1,0,29,229,199,1,0,29
2018-12-28,23650,23943,24902,247,0.990081,237,207,1,0,29,235,206,1,0,28
2018-12-29,20735,21032,26054,682,0.973824,259,229,1,0,29,257,228,1,0,28
2018-12-30,18296,18569,23430,1288,0.945028,185,178,1,0,6,183,176,1,0,6
2018-12-31,26429,27161,18835,93,0.995062,169,159,1,0,9,168,159,1,0,8

#### 按日筛选：筛选1天（需要写范围）

In [67]:
df['2019-01-01':'2019-01-01']

,historyCall,predictCall,realCall,failCall,handleRate,prepareTotal,prepareSchedule,prepareUrgent,prepareCallback,prepareNew,realTotal,realSchedule,realUrgent,realCallback,realNew
callDate,,,,,,,,,,,,,,,
2019-01-01,24843,25509,17028,16,0.99906,181,180,1,0,0,180,180,0,0,0

### 六、日期显示数据

#### 按年显示，但不统计（会出现年份重复）

In [71]:
df_period = df.to_period('A')
df_period

,historyCall,predictCall,realCall,failCall,handleRate,prepareTotal,prepareSchedule,prepareUrgent,prepareCallback,prepareNew,realTotal,realSchedule,realUrgent,realCallback,realNew
callDate,,,,,,,,,,,,,,,
2018,21241,21435,23261,1149,0.950604,218,175,29,9,5,206,168,27,7,4
2018,21320,20856,20939,267,0.987249,220,172,28,15,5,203,167,17,15,4
2018,20221,21313,21378,779,0.963561,205,164,27,6,8,194,160,20,6,8
2018,20634,19985,22047,786,0.964349,208,166,28,5,9,197,160,24,5,8
2018,17020,18134,23216,7776,0.665059,166,147,12,3,4,162,147,8,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019,28422,29262,28422,563,0.980191,252,231,5,0,16,250,229,5,0,16
2019,28831,29650,28831,1208,0.958101,236,218,5,0,13,231,213,5,0,13
2019,24927,25735,24927,523,0.979019,223,199,2,13,9,221,197,2,13,9
2019,22421,23296,22421,277,0.987646,207,174,1,18,14,202,172,1,16,13
2019,29162,30597,29162,2030,0.930389,231,209,5,0,17,224,203,5,0,16

#### 按季度显示，但不统计（会出现季度重复）

In [72]:
df_period = df.to_period('Q')
df_period

,historyCall,predictCall,realCall,failCall,handleRate,prepareTotal,prepareSchedule,prepareUrgent,prepareCallback,prepareNew,realTotal,realSchedule,realUrgent,realCallback,realNew
callDate,,,,,,,,,,,,,,,
2018Q2,21241,21435,23261,1149,0.950604,218,175,29,9,5,206,168,27,7,4
2018Q2,21320,20856,20939,267,0.987249,220,172,28,15,5,203,167,17,15,4
2018Q2,20221,21313,21378,779,0.963561,205,164,27,6,8,194,160,20,6,8
2018Q2,20634,19985,22047,786,0.964349,208,166,28,5,9,197,160,24,5,8
2018Q2,17020,18134,23216,7776,0.665059,166,147,12,3,4,162,147,8,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019Q1,28422,29262,28422,563,0.980191,252,231,5,0,16,250,229,5,0,16
2019Q1,28831,29650,28831,1208,0.958101,236,218,5,0,13,231,213,5,0,13
2019Q1,24927,25735,24927,523,0.979019,223,199,2,13,9,221,197,2,13,9
2019Q1,22421,23296,22421,277,0.987646,207,174,1,18,14,202,172,1,16,13
2019Q1,29162,30597,29162,2030,0.930389,231,209,5,0,17,224,203,5,0,16

#### 按月显示，但不统计（会出现月份重复）

In [70]:
df_period = df.to_period('M')
df_period

,historyCall,predictCall,realCall,failCall,handleRate,prepareTotal,prepareSchedule,prepareUrgent,prepareCallback,prepareNew,realTotal,realSchedule,realUrgent,realCallback,realNew
callDate,,,,,,,,,,,,,,,
2018-05,21241,21435,23261,1149,0.950604,218,175,29,9,5,206,168,27,7,4
2018-05,21320,20856,20939,267,0.987249,220,172,28,15,5,203,167,17,15,4
2018-05,20221,21313,21378,779,0.963561,205,164,27,6,8,194,160,20,6,8
2018-05,20634,19985,22047,786,0.964349,208,166,28,5,9,197,160,24,5,8
2018-05,17020,18134,23216,7776,0.665059,166,147,12,3,4,162,147,8,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-02,28422,29262,28422,563,0.980191,252,231,5,0,16,250,229,5,0,16
2019-02,28831,29650,28831,1208,0.958101,236,218,5,0,13,231,213,5,0,13
2019-02,24927,25735,24927,523,0.979019,223,199,2,13,9,221,197,2,13,9
2019-02,22421,23296,22421,277,0.987646,207,174,1,18,14,202,172,1,16,13
2019-02,29162,30597,29162,2030,0.930389,231,209,5,0,17,224,203,5,0,16

### 七、日期统计数据

#### 按周统计

In [73]:
df_stat = df.resample('w').sum()
df_stat

,historyCall,predictCall,realCall,failCall,handleRate,prepareTotal,prepareSchedule,prepareUrgent,prepareCallback,prepareNew,realTotal,realSchedule,realUrgent,realCallback,realNew
callDate,,,,,,,,,,,,,,,
2018-05-27,117719,117571,127175,11010,5.515332,1186,971,137,43,35,1122,943,107,40,32
2018-06-03,150739,149647,138763,3738,6.805774,1437,1130,191,12,104,1370,1096,172,11,91
2018-06-10,149378,138763,153032,12722,6.494101,1515,1135,181,30,169,1468,1121,160,28,159
2018-06-17,138606,137661,142212,4553,6.794154,1482,1117,156,43,166,1456,1109,132,49,166
2018-06-24,138641,137949,140720,4065,6.817506,1413,1107,125,15,166,1373,1089,112,11,161
2018-07-01,142780,141102,149637,5610,6.744951,1416,1105,143,15,153,1390,1088,141,14,147
2018-07-08,149691,141102,141753,1841,6.909091,1407,1107,132,12,156,1377,1081,129,11,156
2018-07-15,158534,156000,148707,1596,6.924180,1474,1111,164,65,134,1445,1090,161,65,129
2018-07-22,147711,142863,147438,4643,6.771357,1374,1090,138,0,146,1345,1077,130,0,138
2018-07-29,143652,136291,140476,1950,6.900423,1373,1080,133,0,160,1349,1064,127,0,158
2018-08-05,140476,134638,137548,1245,6.940194,1371,1150,59,0,162,1356,1135,59,0,162
2018-08-12,143026,134638,135179,1821,6.924189,1458,1173,27,0,258,1435,1158,25,0,252
2018-08-19,138629,134638,138256,1587,6.932875,1469,1215,19,0,235,1435,1188,17,0,230
2018-08-26,139143,138900,137030,1616,6.933065,1388,1236,19,0,133,1358,1208,19,0,131
2018-09-02,141276,138900,142628,1341,6.949023,1407,1225,7,0,175,1368,1198,7,0,163
2018-09-09,141130,138900,134829,780,6.970955,1447,1267,7,0,173,1416,1240,6,0,170
2018-09-16,141139,138900,134070,843,6.964076,1456,1314,10,29,103,1414,1276,10,28,100
2018-09-23,144734,138900,174251,7816,6.844005,1491,1389,7,0,95,1455,1362,7,0,86
2018-09-30,153798,144600,146989,1471,6.944939,1436,1321,6,0,109,1412,1307,5,0,100
2018-10-07,134639,136132,120551,490,6.971490,1341,1285,5,0,51,1297,1242,5,0,50
2018-10-14,149127,148441,150785,1420,6.933308,1464,1341,6,0,117,1443,1323,6,0,114
2018-10-21,141936,136590,137394,912,6.953483,1377,1265,10,0,102,1361,1254,9,0,98
2018-10-28,140194,138409,136919,727,6.962572,1384,1300,7,20,57,1369,1286,7,19,57
2018-11-04,145820,146446,147793,1199,6.946173,1395,1331,5,2,57,1383,1320,4,2,57
2018-11-11,150025,146446,151161,1033,6.952800,1462,1389,7,0,66,1453,1381,7,0,65
2018-11-18,151322,146446,144306,1036,6.948461,1440,1367,7,0,66,1424,1354,7,0,63
2018-11-25,145259,146446,147077,2124,6.891865,1523,1353,7,0,163,1506,1340,7,0,159
2018-12-02,144728,146446,149621,1068,6.950294,1572,1379,7,0,186,1566,1374,7,0,185
2018-12-09,148660,147736,154740,927,6.957040,1562,1455,7,0,100,1556,1452,6,0,98
2018-12-16,154752,148712,160584,1789,6.920811,1537,1433,7,0,97,1520,1418,7,0,95
2018-12-23,160584,154869,162044,3545,6.848051,1587,1423,7,0,157,1570,1408,7,0,155
2018-12-30,160042,163953,174860,3704,6.849547,1636,1448,7,0,181,1624,1439,7,0,178
2019-01-06,164407,163953,156157,1030,6.956082,1469,1352,7,0,110,1454,1342,6,0,106
2019-01-13,164974,160855,167311,1157,6.953044,1585,1367,52,24,142,1557,1349,51,24,133
2019-01-20,167311,160855,168780,1019,6.960165,1695,1489,48,0,158,1682,1482,47,0,153
2019-01-27,168780,160855,175642,1351,6.946140,1689,1455,49,33,152,1669,1437,48,33,151
2019-02-03,175642,160855,152492,1714,6.925177,1573,1418,39,0,116,1555,1401,39,0,115
2019-02-10,105242,113132,105242,1379,6.922937,1206,1151,9,0,46,1184,1130,9,0,45
2019-02-17,201226,203855,201226,7910,6.744466,1706,1537,38,31,100,1682,1517,38,29,98
2019-02-24,29162,30597,29162,2030,0.930389,231,209,5,0,17,224,203,5,0,16

#### 按月统计

In [79]:
df_stat = df.resample('M').sum()    # "MS"是每个月第一天为开始日期, "M"是每个月最后一天
df_stat

,historyCall,predictCall,realCall,failCall,handleRate,prepareTotal,prepareSchedule,prepareUrgent,prepareCallback,prepareNew,realTotal,realSchedule,realUrgent,realCallback,realNew
callDate,,,,,,,,,,,,,,,
2018-05-31,205651,205621,211971,12415,9.449137,2090,1658,266,55,111,1983,1612,224,51,96
2018-06-30,616335,601438,623244,29030,28.738180,6195,4762,648,103,682,6040,4697,581,102,660
2018-07-31,659265,634483,641048,10823,30.466197,6215,4855,636,77,647,6091,4767,616,76,632
2018-08-31,624538,603221,610679,6833,30.713679,6307,5344,79,0,884,6181,5244,75,0,862
2018-09-30,615013,597200,623751,11147,29.712995,6193,5624,32,29,508,6049,5510,30,28,481
2018-10-31,633222,628036,616077,4354,30.786464,6179,5773,30,22,354,6080,5684,29,21,346
2018-11-30,635104,628460,634237,5446,29.735890,6427,5898,29,0,500,6371,5852,28,0,491
2018-12-31,685191,677737,706356,10267,30.558604,6843,6257,31,0,555,6789,6214,30,0,545
2019-01-31,744493,716531,747981,5783,30.767130,7248,6372,183,57,636,7159,6306,179,57,617
2019-02-28,405822,411265,389196,11714,17.576208,3737,3447,63,31,196,3680,3396,63,29,192

#### 按季度统计

In [78]:
df_stat = df.resample('Q').sum()    # "QS"是每个季度第一天为开始日期, "Q"是每个季度最后一天
df_stat

,historyCall,predictCall,realCall,failCall,handleRate,prepareTotal,prepareSchedule,prepareUrgent,prepareCallback,prepareNew,realTotal,realSchedule,realUrgent,realCallback,realNew
callDate,,,,,,,,,,,,,,,
2018-06-30,821986,807059,835215,41445,38.187316,8285,6420,914,158,793,8023,6309,805,153,756
2018-09-30,1898816,1834904,1875478,28803,90.892871,18715,15823,747,106,2039,18321,15521,721,104,1975
2018-12-31,1953517,1934233,1956670,20067,91.080957,19449,17928,90,22,1409,19240,17750,87,21,1382
2019-03-31,1150315,1127796,1137177,17497,48.343338,10985,9819,246,88,832,10839,9702,242,86,809

#### 按年度统计

In [77]:
df_stat = df.resample('A').sum()    # "AS"是每年第一天为开始日期, "A是每年最后一天
df_stat

,historyCall,predictCall,realCall,failCall,handleRate,prepareTotal,prepareSchedule,prepareUrgent,prepareCallback,prepareNew,realTotal,realSchedule,realUrgent,realCallback,realNew
callDate,,,,,,,,,,,,,,,
2018-12-31,4674319,4576196,4667363,90315,220.161145,46449,40171,1751,286,4241,45584,39580,1613,278,4113
2019-12-31,1150315,1127796,1137177,17497,48.343338,10985,9819,246,88,832,10839,9702,242,86,809

### 八、按日期统计显示

#### 按年统计并显示

In [80]:
df_stat = df.resample('A').sum().to_period('A')
df_stat

,historyCall,predictCall,realCall,failCall,handleRate,prepareTotal,prepareSchedule,prepareUrgent,prepareCallback,prepareNew,realTotal,realSchedule,realUrgent,realCallback,realNew
callDate,,,,,,,,,,,,,,,
2018,4674319,4576196,4667363,90315,220.161145,46449,40171,1751,286,4241,45584,39580,1613,278,4113
2019,1150315,1127796,1137177,17497,48.343338,10985,9819,246,88,832,10839,9702,242,86,809

#### 按季度统计并显示

In [81]:
df_stat = df.resample('Q').sum().to_period('Q')
df_stat

,historyCall,predictCall,realCall,failCall,handleRate,prepareTotal,prepareSchedule,prepareUrgent,prepareCallback,prepareNew,realTotal,realSchedule,realUrgent,realCallback,realNew
callDate,,,,,,,,,,,,,,,
2018Q2,821986,807059,835215,41445,38.187316,8285,6420,914,158,793,8023,6309,805,153,756
2018Q3,1898816,1834904,1875478,28803,90.892871,18715,15823,747,106,2039,18321,15521,721,104,1975
2018Q4,1953517,1934233,1956670,20067,91.080957,19449,17928,90,22,1409,19240,17750,87,21,1382
2019Q1,1150315,1127796,1137177,17497,48.343338,10985,9819,246,88,832,10839,9702,242,86,809

#### 按月度统计并显示

In [82]:
df_stat = df.resample('M').sum().to_period('M')
df_stat

,historyCall,predictCall,realCall,failCall,handleRate,prepareTotal,prepareSchedule,prepareUrgent,prepareCallback,prepareNew,realTotal,realSchedule,realUrgent,realCallback,realNew
callDate,,,,,,,,,,,,,,,
2018-05,205651,205621,211971,12415,9.449137,2090,1658,266,55,111,1983,1612,224,51,96
2018-06,616335,601438,623244,29030,28.738180,6195,4762,648,103,682,6040,4697,581,102,660
2018-07,659265,634483,641048,10823,30.466197,6215,4855,636,77,647,6091,4767,616,76,632
2018-08,624538,603221,610679,6833,30.713679,6307,5344,79,0,884,6181,5244,75,0,862
2018-09,615013,597200,623751,11147,29.712995,6193,5624,32,29,508,6049,5510,30,28,481
2018-10,633222,628036,616077,4354,30.786464,6179,5773,30,22,354,6080,5684,29,21,346
2018-11,635104,628460,634237,5446,29.735890,6427,5898,29,0,500,6371,5852,28,0,491
2018-12,685191,677737,706356,10267,30.558604,6843,6257,31,0,555,6789,6214,30,0,545
2019-01,744493,716531,747981,5783,30.767130,7248,6372,183,57,636,7159,6306,179,57,617
2019-02,405822,411265,389196,11714,17.576208,3737,3447,63,31,196,3680,3396,63,29,192

### 九、提取指定类型日期

#### 从datetime里面提取

In [1]:
import time

time.localtime()

time.struct_time(tm_year=2020, tm_mon=4, tm_mday=12, tm_hour=12, tm_min=35, tm_sec=1, tm_wday=6, tm_yday=103, tm_isdst=0)

In [2]:
from datetime import datetime

datetime.now()

datetime.datetime(2020, 4, 12, 12, 35, 35, 794655)

In [8]:
import pandas as pd

df_time = pd.DataFrame([datetime.now()], columns=['datetime'])
df_time

                    datetime
0 2020-04-12 15:19:27.645142

In [66]:
datetime = df_time['datetime'].iloc[0]

print('年份为：%s' % datetime.year)
print('月份为：%s' % datetime.month)
print('日为：%s' % datetime.day)
print('星期为【weekday()+1】：%s' % (datetime.weekday() + 1))    # 注意：星期需要加括号。原周一到周日为0-6，现改为1-7
print('星期为【dayofweek+1】：%s' % (datetime.dayofweek + 1))    # 注意：原周一到周日为0-6，现在为1-7
print('时为：%s' % datetime.hour)
print('分为：%s' % datetime.minute)
print('秒为：%s' % datetime.second)
print('微秒（百万分之一秒）为：%s' % datetime.microsecond)
print('年度第几周为：%s' % datetime.week)

年份为：2020
月份为：4
日为：12
星期为【weekday()+1】：7
星期为【dayofweek+1】：7
时为：15
分为：19
秒为：27
微秒（百万分之一秒）为：645142
年度第几周为：15

#### 从timedelta里面提取

// 转成天：

In [ ]:
(df_2['endTime'].iloc[0] - df_2['startTime'].iloc[0]).days

// 转成秒：

In [ ]:
(df_2['endTime'].iloc[0] - df_2['startTime'].iloc[0]).seconds

// 转成分：

In [ ]:
(df_2['endTime'].iloc[0] - df_2['startTime'].iloc[0]).seconds / 60    # 注意：需要由秒转成分，不能由天转小时

// 转成小时：

In [ ]:
(df_2['endTime'].iloc[0] - df_2['startTime'].iloc[0]).seconds / 3600    # 注意：需要由秒转小时，不能由天转小时