##### 学习链接：

Python Dataframe 指定多列去重、求差集的方法：https://www.jb51.net/article/143477.htm

### 一、判断是否重复

In [1]:
import pandas as pd

df_1 = pd.read_csv(r'D:\Jupyter\Data\duplicated.csv',encoding='gb18030')
df_1

   Id Gender toComment comment commentTwo commentThree
0   1      男         是      满意         满意          不满意
1   2      男         是      满意         满意          不满意
2   3      女         是      满意         满意          不满意
3   4      女         是     不满意        不满意           满意
4   5      男         是     不满意        不满意           满意
5   1      男         是      满意         满意          不满意
6   2      男         是      满意         满意          不满意
7   3      女         是      满意         满意          不满意

 - 说明：comment字段和commentTwo字段内容完全重复；tocomment字段完全一致；Id为1、2、3的记录完全重复。

#### 判断字段是否重复：单个字段

判断单个字段是否存在重复值（逐个给出判断结果）：

In [9]:
df_1['Gender'].duplicated()

0    False
1     True
2    False
3     True
4     True
5     True
6     True
7     True
Name: Gender, dtype: bool

 - 第一次出现的不算重复，第二次或之后再出现，就标记为重复。

判断单个字段是否存在重复值（直接给出字段判断结果）：

In [10]:
df_1['Gender'].duplicated().any()

True

 - True则表示该字段存在重复值。

#### 判断字段是否存在重复：多个组合字段

逐条记录判断：

In [11]:
df_1.duplicated(subset=['Id', 'Gender'])

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
dtype: bool

 - 两个字段同时重复时，才标记重复。

直接给出判断结果：

In [12]:
df_1.duplicated(subset=['Id', 'Gender']).any()

True

 - True表示存在重复的记录。

#### 判断记录是否重复

逐行判断：

In [2]:
flag = df_1.duplicated()
flag

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
dtype: bool

直接判断是否存在重复记录：

In [5]:
flag = df_1.duplicated().any()   # any表示，只要存在重复记录，就返回True
flag

True

### 二、去重

In [1]:
import pandas as pd

df = pd.read_csv(r'D:\Jupyter\Data\auto_ins.csv',encoding='gb18030')
df

,EngSize,Age,Gender,Marital,exp,Owner,vAge,Garage,AntiTFD,import,Loss
0,2.0,56,男,已婚,20,公司,10,有,有防盗装置,进口,0.0
1,1.8,41,男,已婚,20,公司,9,有,无防盗装置,国产,0.0
2,2.0,44,男,未婚,20,公司,8,有,有防盗装置,国产,0.0
3,1.6,56,男,已婚,20,公司,7,有,有防盗装置,国产,0.0
4,1.8,45,男,已婚,20,公司,7,无,无防盗装置,国产,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4228,1.8,22,女,未婚,0,私人,1,有,有防盗装置,国产,976.0
4229,2.5,22,男,未婚,0,私人,1,有,无防盗装置,进口,855.6
4230,1.8,21,男,未婚,0,私人,1,有,无防盗装置,国产,0.0
4231,1.8,21,女,未婚,0,私人,1,有,无防盗装置,进口,3328.0
4232,2.4,21,女,未婚,0,私人,1,有,无防盗装置,进口,1564.0

In [2]:
df2 = pd.read_csv(r'D:\Jupyter\Data\auto_ins.csv', encoding='gb18030')
df_double = df.append(df2, ignore_index=True)
df_double

,EngSize,Age,Gender,Marital,exp,Owner,vAge,Garage,AntiTFD,import,Loss
0,2.0,56,男,已婚,20,公司,10,有,有防盗装置,进口,0.0
1,1.8,41,男,已婚,20,公司,9,有,无防盗装置,国产,0.0
2,2.0,44,男,未婚,20,公司,8,有,有防盗装置,国产,0.0
3,1.6,56,男,已婚,20,公司,7,有,有防盗装置,国产,0.0
4,1.8,45,男,已婚,20,公司,7,无,无防盗装置,国产,0.0
...,...,...,...,...,...,...,...,...,...,...,...
8461,1.8,22,女,未婚,0,私人,1,有,有防盗装置,国产,976.0
8462,2.5,22,男,未婚,0,私人,1,有,无防盗装置,进口,855.6
8463,1.8,21,男,未婚,0,私人,1,有,无防盗装置,国产,0.0
8464,1.8,21,女,未婚,0,私人,1,有,无防盗装置,进口,3328.0
8465,2.4,21,女,未婚,0,私人,1,有,无防盗装置,进口,1564.0

开始去重：

In [6]:
?df.drop_duplicates

In [3]:
df_double.drop_duplicates()    # 如果想要生效，把inpalace改为True即可。

,EngSize,Age,Gender,Marital,exp,Owner,vAge,Garage,AntiTFD,import,Loss
0,2.0,56,男,已婚,20,公司,10,有,有防盗装置,进口,0.0
1,1.8,41,男,已婚,20,公司,9,有,无防盗装置,国产,0.0
2,2.0,44,男,未婚,20,公司,8,有,有防盗装置,国产,0.0
3,1.6,56,男,已婚,20,公司,7,有,有防盗装置,国产,0.0
4,1.8,45,男,已婚,20,公司,7,无,无防盗装置,国产,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4228,1.8,22,女,未婚,0,私人,1,有,有防盗装置,国产,976.0
4229,2.5,22,男,未婚,0,私人,1,有,无防盗装置,进口,855.6
4230,1.8,21,男,未婚,0,私人,1,有,无防盗装置,国产,0.0
4231,1.8,21,女,未婚,0,私人,1,有,无防盗装置,进口,3328.0
4232,2.4,21,女,未婚,0,私人,1,有,无防盗装置,进口,1564.0

#### 根据指定字段去重

In [4]:
df_double.drop_duplicates(subset=['Gender', 'Marital'])    # 如果想要生效，把inpalace改为True即可。

      EngSize  Age Gender Marital  exp Owner  vAge Garage AntiTFD import  Loss
0         2.0   56      男      已婚   20    公司    10      有   有防盗装置     进口   0.0
2         2.0   44      男      未婚   20    公司     8      有   有防盗装置     国产   0.0
155       1.8   41      女      已婚   17    私人     1      有   无防盗装置     进口   0.0
1354      1.8   52      女      未婚    7    私人     1      无   无防盗装置     进口   0.0

#### 根据指定字段去重，保留最后一条记录

默认是保留第一条记录。

In [5]:
df_double.drop_duplicates(subset=['Gender', 'Marital'], keep='first')    # 如果想要生效，把inpalace改为True即可。

,EngSize,Age,Gender,Marital,exp,Owner,vAge,Garage,AntiTFD,import,Loss
8451,1.8,28,男,已婚,0,公司,1,有,无防盗装置,国产,0.0
8456,1.8,25,女,已婚,0,私人,1,有,无防盗装置,国产,0.0
8463,1.8,21,男,未婚,0,私人,1,有,无防盗装置,国产,0.0
8465,2.4,21,女,未婚,0,私人,1,有,无防盗装置,进口,1564.0

#### 只要有重复记录，均全部删除

In [6]:
df.drop_duplicates(subset=['Age'], keep=False)    # 如果想要生效，把inpalace改为True即可。

,EngSize,Age,Gender,Marital,exp,Owner,vAge,Garage,AntiTFD,import,Loss
2380,1.6,66,男,已婚,4,私人,1,有,无防盗装置,进口,372.4

In [7]:
df['Age'].value_counts().sort_values()

66      1
63      3
64      3
61      4
62      5
60      7
59      9
58     10
57     12
21     12
55     15
22     17
23     18
53     19
56     20
54     31
52     39
24     44
25     45
51     49
26     55
27     68
48     73
50     73
49     76
28     88
29    107
43    108
47    109
45    111
44    121
46    122
30    125
42    150
31    152
32    159
37    179
33    215
36    225
38    233
39    245
34    248
35    261
40    273
41    294
Name: Age, dtype: int64

### 二、查看唯一值

In [8]:
df['Owner'].unique()

array(['公司', '政府', '私人'], dtype=object)

In [9]:
df['AntiTFD'].unique()

array(['有防盗装置', '无防盗装置'], dtype=object)